/* MantineのNormalize CSSと競合しないよう調整 */
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, p, ul, li, hr {
  font-style: normal;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

@keyframes barstart {
  from {
    width: 30%;
  }
  to {
    width: 90%;
  }
}

@keyframes barcomp {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
}